{{define "title"}} About Me {{end}}
{{define "body"}}
<div class="flex flex-auto">
    <div class="hero max-h-screen">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">Peyman Hassani</h1>
                <p class="py-6">
                    Certified Geek, Nothing beats a good hamburger
                </p>
                <div class="flex flex-row justify-center space-x-2">
                    <div class="p-2 bg-secondary rounded-full">
                        <a href="https://github.com/peyzor"><img src="/icons/github.svg" class="h-8" alt=""></a>
                    </div>
                    <div class="p-2 bg-secondary rounded-full">
                        <a href="https://www.linkedin.com/in/peyman-hassani-6033aa208">
                            <img src="/icons/linkedin.svg" class="h-8" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
